div{
  width: 100px;
  height: 100px;
  background: lime;
  margin-bottom: 20px;
}

#div2{
  background: #7fffd4;
  position: relative;
  left: 50px;
  top: 50px;
}

.parent{
  position: relative;
}

.parent p:nth-of-type(2){
  position: absolute;
  background: yellow;
  bottom: -16px;
  right: 0px;
}

#fixed{
  position: fixed;
  top: 0;
  left: 0;
  background: #008b8b;
  z-index: 9999;
}

#fixed a{
  text-decoration: none;
  color: #ffffff;
}
